body{
    background-color: #dcdbd2;
}
.greenBar{
    height: 18vh;
    background-color: #055a52;
    z-index: 1;
}
main{
    z-index: 2;
}

i{
    color: grey;
    font-size: larger;
    opacity: 60%;
}
.logo-notif{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    font-size: small;
}
.smallText{
    font-size: .9rem;
}
.userImg{
    width: 3.7rem;
}
.userImgS{
    width: 3rem;
}
.chatTime{
    font-size: .7rem;
    position: absolute;
    bottom: 3.4rem;
    right: .4rem;
}
.activechat{
    background-color: rgba(90, 87, 87, 0.123);
}
.chats{
    overflow-y: scroll;
    height: 67.5vh;
}
.options{
    width: 6rem;
}
.openedChat{
    background-image: url('img/mine.jpg');
    height: 78vh;
    overflow-y: scroll;
}
.openedChat .chatTime{
    bottom: 0.1rem;
}
.sentMessage{
    background-color: #d5f9ba;
    margin-left: 17rem;
}
.bottBar i{
    color: rgb(46, 45, 45);
}