body{
    background-color: #dcdbd2;
}
.darkBackground{
    height: 100vh;
    width: 100vw;
    left: 0;
    top:0;
    background-color: black;
    z-index: 1;
}
.greenBar{
    height: 18vh;
    background-color: #055a52;
    z-index: 1;
}
.row{
    position: relative;
    z-index: 3;
    border-radius: 200rem !important;
}
i{
    color: grey;
    font-size: larger;
    opacity: 70%;
    cursor: pointer;
}

.logo-notif{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    font-size: small;
}
.smallText{
    font-size: .9rem;
}
.userImg{
    width: 3.7rem;
}
.userImgS{
    width: 3rem;
}
.chatTime{
    font-size: .7rem;
    position: absolute;
    bottom: 3.4rem;
    right: .4rem;
}
.chats{
    overflow-y: scroll;
    height: 65.2vh;
    cursor: pointer;
}
.chat:hover{
    background-color: rgba(138, 133, 133, 0.123);
}
.activeElement{
    background-color: rgba(138, 133, 133, 0.123);
}
.options{
    width: 6rem;
}
.openedChat{
    height: 78vh;
    overflow-y: scroll;
}
.background1{
    background-image: url('img/mine.jpg');
}
.background2{
    background-image: url('img/mine3.jpg');
    background-size: contain;
}
.openedChat .chatTime{
    bottom: 0.1rem;
}
.sentMessage{
    background-color: #d5f9ba;
}
.sentDarkMessage{
    background-color: #005c4b;
    margin-left: 17rem;
    color: white;
}
.recivedDarkMessage{
    background-color: rgb(26, 26, 26);
    color: white;
}
.lightModei{
    color: rgb(46, 45, 45);
}
.drop-down-arrow{
    display: none;
    font-size: small;
    cursor: pointer;
}
.message{
    min-width: 8rem;
    max-width: 20rem;
}
.message:hover .drop-down-arrow{
    display: inline-block;
}
.drop-down-list{
    background-color: white;
    right: 0;
    top: 1.7rem;
    font-size: small;
    z-index: 5;
}
.drop-down-list-dark{
    background-color: rgb(34, 34, 34);
    color:white;
}
.drop-down-list span{
    cursor: pointer;
}
.modeButton{
    right: 0;
    top:0rem
}




.coolScrollbar::-webkit-scrollbar{
    width: .4vw;
}
.coolScrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
.coolScrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(54, 54, 54, 0.226) ;
    /* border-radius: 1rem; */
    border: .2rem solid rgba(1, 0, 0, .01);
}
.darkCoolScrollbar::-webkit-scrollbar{
    width: .4vw;
}
.darkCoolScrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
.darkCoolScrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54) ;
    /* border-radius: 1rem; */
    border: .2rem solid rgba(1, 0, 0, .01);
}